.button-style {
    background-color: blue;
    width: 100px;
    height: 60px;
    color: white;
}

.hidden {
    display: none;
}

.padding-bottom {
    padding-bottom: 30px;
}

h1 {
    font-size: 50px;
    color: rgb(102, 186, 255);
    text-align: center;
    border-style: solid;
    border-color: blue;
    margin: 20px;
}

p {
    font-size: 15px;
    text-align: center;

}

body {
    background-color: rgb(180, 255, 232)

}

.row {
    margin: 0;
    padding-left: 100px;
}



